/* .col-md-10, .col-md-11, .col-md-12::-webkit-scrollbar
{
    background-color: #b763d3;
    border-radius: 5px;
    margin-left: 10vw;
}

::-webkit-scrollbar-thumb
{
    background-color: #9c2cc2;
    border: 1px solid black;
    border-radius: 5px;
} */

html, body
{
    height: 100%;
    width: 100%;

    background-color: #e5d4ea;
}

/* NAVBAR */
.nav-link
{
    color: white;

}

.navbar
{
    height: 8vh;
    background-color: #e5d4ea;
    color: white;
    text-align: right;
}

.navbar-brand
{
    color: white;
    margin-left: 4vw;
    font-size: 30px !important;
}
.navbar-brand:hover
{
    color: purple;
    transition-duration: 250ms;
}

.row
{
    display: flex;
    justify-content: center;
}

.nav-navbar
{
    display: flex;
    padding-right: 2vw;
}

.nav-link
{
    margin-left: 3vw;
    font-size: 22px;
}

.nav-link:hover
{
    color: purple;
}
/* NAVBAR --END-- */

/* MAIN PAGE CONTENT */
    .col-md-10, .col-md-11, .col-md-12, .col-md-4
    {
        height: 80%;
        border-color: #a66bb9;
        background-color: #cfa2dd;
        text-align: center;
        border: 2px solid #a66bb9;
        border-radius: 30px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .main-page-button
    {
        margin-top: 35vh;
        border: 2px solid #a66bb9;
        border-radius: 25px;
        background-color: #b763d3;
        color: white;
        height: 6vh;
        width: 20vw;
    }
    .main-page-button:hover
    {
        transition-duration: 300ms;
        transform: scale(1.05);
        background-color: #9c2cc2;
    }

    .main-page-link
    {
        color: white;
    }
    a:link
    {
        text-decoration: none;
    }
    /* a:visited
    {
        text-decoration: none;
    } */
    a:hover
    {
        text-decoration: none;
    }
    /* a:active
    {
        text-decoration: none;
    } */

    .col-md-9
    {
        margin-top: -10vh;
    }

/* MAIN PAGE CONTENT --END-- */